/* Blog Main Box Container */
.blog.main .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 1rem;
}    